
.display-3, .lead {
text-align: center;
}

.crystal-pic {
height: 180px;
width: 250px;

}

.row {
text-align: center;
margin: 20px 10px 50px 10px;
}

.computer-score {
  color: #DC143C;
}

.user-score{
  color: #2E8B57;
}

.win-score, .loss-score{
  color: GoldenRod;
}
